* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Poppins;
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins extrabold;
    src: url(./assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: Poppins numbold;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}

body {
    background-color: hsl(0, 0%, 86%);
}

.container {
    background-color: hsl(0, 0%, 100%);
    margin: 0 auto;
    width: 600px;
    border-radius: 10px;
    padding: 30px;
    font-family: Poppins;

}

.input-container {
    display: flex;
    flex-direction: row;
}

.num-container {
    margin-left: 10px;
    color: hsl(0, 1%, 44%);
}

.num-container p {
    font-size: 10px;
    font-family: Poppins numbold;
    letter-spacing: 4px;
    margin-bottom: 4px;
}
.num-container input {
    padding: 10px;
    width: 120px;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 86%);
    font-size: 22px;
    font-weight: bold;
}

.num-container input::placeholder {
    font-size: 22px;
    font-weight: bold;
}

/* remove arrows from input */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.result-num {
    font-size: 80px;
    display: flex;
    flex-direction: row;
    font-family: Poppins extrabold !important;

}

.result-digit {
    color: hsl(259, 100%, 65%);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }